<script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
<video width="640" id="videoElement"></video>
<script>
	if (flvjs.isSupported()) {
		var videoElement = document.getElementById('videoElement');
		var flvPlayer = flvjs.createPlayer({
			type: 'flv',
			url: 'http://localhost:8000/iptv/aduc_cam.flv'
		});
		flvPlayer.attachMediaElement(videoElement);
		flvPlayer.load();
		flvPlayer.muted = true;
		flvPlayer.play();
	}
</script>